svg {
  font: 10px sans-serif;
}

.axis line, .axis path {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.line {
    fill: none;
    stroke: black;
}

.bar {
  shape-rendering: crispEdges;
  fill: steelblue;
}

.bar:hover {
  fill: lightskyblue;
}
