{% extends "base.html" %}

{% load filters %}

{% block title %}{{project.id}}: List of data files{% endblock %}

{% block css %}
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <span class="glyphicon glyphicon-tag"></span> <span id="tag-label">Tag</span> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" id="tagList">
                    {% if tags %}
                        {% for tag in tags %}
                        <li id="id_tag_{{tag.name}}"><a data-target="#" value="{{tag.name}}" class="tag">{{tag.name}}</a></li>
                        {% endfor %}
                        <li role="presentation" class="divider"></li>
                        <li ><a data-target="#" value="null" class="tag"><i>clear selection</i></a></li>
                    {% else %}
                    <li role="presentation" class="dropdown-header">No tags defined.</li>
                    {% endif %}
                </ul>
            </li>

            <div role="group" class="pull-right" style="margin:-5px">
				<!-- <button class="btn btn-default btn-sm active"><span class="glyphicon glyphicon-th-list"></span></button>
                <a href='/{{project.id}}/image/thumbgrid' type="button" class="btn btn-default btn-sm" id="layout">
                    <span class="glyphicon glyphicon-th"></span>
                </a> -->
                <button class="btn btn-default btn-sm" id="image-table-view">
                    <span class="glyphicon glyphicon-th-list"></span></button>
                <button class="btn btn-default btn-sm" id="thumbgrid-view">
                    <span class="glyphicon glyphicon-th"></span></button>
            </div>
{% endblock %}

{% block content %}

{% if project.name %}
<h3>{{project.name}}</h3>
{% endif %}

<table id="images-table" class="table table-striped table-condensed" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Date/Time</th>
      <th data-orderable="false">Image</th>
      <th>Output of</th>
      <th>Reason</th>
      <th>Outcome</th>
      <!-- <th>Parameter</th> -->
      <th>Tags</th>
    </tr>
    </thead>

    <tbody>
    <tbody>
</table>

<div id="thumbgrid" class="container hidden"></div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">

/* filter by tag */
var selected_tag = null;

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        if (selected_tag) {
        for (var i in settings.aoColumns) {
            if (settings.aoColumns[i].sTitle == 'Tags') {
                var tags = data[settings.aoColumns[i].idx].split(" ")
            }
        }
        return tags.indexOf(selected_tag) > -1
        }
        return true;
    }
);

$(document).ready(function() {
    $('#nav-image').addClass('active');


    // Column Renderer
    columnDefs = [
        {"render": function(data, type, row) {
            return '<div class="col-md-3 col-sm-4 col-xs-6 thumb">'+
                '<div class=""><a href="/'+row.project+'/data/datafile?'+
                'path='+row.path+'&digest='+row.digest+'&creation='+row.creation+'" title="'+row.path+'">'+
                '<img src="/static/'+row.path+'"></a></div></div>'
        }, "sWidth": 20%, "targets": [1]},                                                     // image
        {"render": function(data, type, row) {
            return '<a href="/'+row.project+'/'+data+'/">'+data+'</a>'
        }, "targets": [2]},                                                     // record
        {"render": function(data, type, row) {
            if (data.length < 200) {
                return data
            } else {
                return '<span title="'+data+'">'+data.slice(0,200)+'...</span>'
            }
        }, "targets": [3,4]},                                                   // reason,outcome
        {"render": function(data, type, row) {
            if (data.length == 0) {
                return ''
            } else {
                tags = data.split(',')
                return '<button class="btn btn-default btn-xs tag">'+tags.join('</button> <button class="btn btn-default btn-xs tag">')+'</button>';
            }
        }, "targets": [5]},                                                     // tags
    ]

    var table = $('#images-table').dataTable({
        "processing":       true,
        "serverSide":       true,
        "ajax": {
            "url": "/{{project.id}}/datatable/image",
            "data": function ( d ) {
                d.tag = selected_tag;
            }
        },
        "columns": [
            { "data": "date" },
            { "data": "image" },
            { "data": "record" },
            { "data": "reason" },
            { "data": "outcome" },
            { "data": "tags" },
        ],
        "aLengthMenu": [[8, 32, 128], [8, 32, 128]],
        // "dom":           'ftlp',
        "order":            [[ 0, "desc" ]],
        "columnDefs":       columnDefs,
        "fnPreDrawCallback": function (oSettings) {
              // create a thumbs container if it doesn't exist. put it in the dataTables_scrollbody div
              if ($('#thumbs_container').length < 1)  $('#thumbgrid').append("<div id='thumbs_container' class='row'></div>");

              // clear out the thumbs container
              $('#thumbs_container').html('');

              return true;
          },
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
              $('#thumbs_container').append(aData['thumbgrid']);
              $('.thumb div').addClass('thumbnail')

              return nRow;
          },
    });

    $('#thumbgrid-view').on('click', function() {
        $('#images-table').addClass('hidden')
        $('#thumbgrid').removeClass('hidden')
    })

    $('#image-table-view').on('click', function() {
        $('#images-table').removeClass('hidden')
        $('#thumbgrid').addClass('hidden')
    })

    /* select tag from dropdown menu */
    $('.tag').on('click', function () {
        if ( selected_tag == $(this).attr('value') ) {
            selected_tag = 'null';
        } else {
            selected_tag = $(this).attr('value');
        }
        $('#tagList li').removeClass('selected');
        $('#tag-label').html('Tag');

        if (selected_tag == 'null') {
            selected_tag = null;
        } else {
            $("#tagList #id_tag_"+selected_tag).addClass('selected');
            $('#tag-label').html(selected_tag);
        }
        table.draw();
        $('#id_button_tags .tag').removeClass("active");
        $('#id_button_tags .tag[value='+ selected_tag+']').addClass("active");
    });
} );
    </script>
{% endblock %}
