{% extends "base.html" %}

{% load filters %}

{% block title %}{{project.id}}: List of data files{% endblock %}

{% block css %}
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <span class="glyphicon glyphicon-tag"></span>
                    <span id="tag-label">Tag</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" id="tagList">
                    {% if tags %}
                        {% for tag in tags %}
                        <li id="id_tag_{{tag.name}}">
                            <a data-target="#" value="{{tag.name}}" class="tag">{{tag.name}}</a>
                        </li>
                        {% endfor %}
                        <li role="presentation" class="divider"></li>
                        <li ><a data-target="#" value="null" class="tag"><i>clear selection</i></a></li>
                    {% else %}
                    <li role="presentation" class="dropdown-header">No tags defined.</li>
                    {% endif %}
                </ul>
            </li>

            <div role="group" class="pull-right" style="margin:-5px">
				<!-- <button class="btn btn-default btn-sm active"><span class="glyphicon glyphicon-th-list"></span></button>
                <a href='/{{project.id}}/image/thumbgrid' type="button" class="btn btn-default btn-sm" id="layout">
                    <span class="glyphicon glyphicon-th"></span>
                </a> -->
                <button class="btn btn-default btn-sm" id="image-table-view">
                    <span class="glyphicon glyphicon-th-list"></span></button>
                <button class="btn btn-default btn-sm" id="thumbgrid-view-large">
                    <span class="glyphicon glyphicon-th-large"></span></button>
                <button class="btn btn-default btn-sm" id="thumbgrid-view">
                    <span class="glyphicon glyphicon-th"></span></button>
            </div>
{% endblock %}

{% block content %}

{% if project.name %}
<h3>{{project.name}}</h3>
{% endif %}

<table id="images-table" class="table table-striped table-condensed" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th data-orderable="false">Image</th>
      <th>Record info</th>
      <th>Output of</th>
      <th>Reason</th>
      <th>Outcome</th>
      <th>Tags</th>
      <th>Parameter</th>
    </tr>
    </thead>

    <tbody>
    <tbody>
</table>

<div id="thumbgrid" class="container hidden"></div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">

/* filter by tag */
var selected_tag = null;
var thumbgrid_view = 'col-md-3 col-sm-4 col-xs-6';

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        if (selected_tag) {
        for (var i in settings.aoColumns) {
            if (settings.aoColumns[i].sTitle == 'Tags') {
                var tags = data[settings.aoColumns[i].idx].split(" ")
            }
        }
        return tags.indexOf(selected_tag) > -1
        }
        return true;
    }
);

$(document).ready(function() {
    $('#nav-image').addClass('active');

    // Column Renderer
    columnDefs = [
        {"render": function(data, type, row) {
            return '<div class=""><a href="/'+row.project+'/data/datafile?'+
                'path='+row.path+'&digest='+row.digest+'&creation='+row.creation+'" title="'+row.path+'">'+
                '<img src="/'+row.project+'/data/'+row.datastore+'?path='+row.path+'&digest='+row.digest+'&creation='+row.creation+'" style="width:100%" alt="'+row.path+'">  </a></div>'
        }, "width": "50%", "targets": [0]},                                     // image
        {"render": function(data, type, row) {
            if (data.length == 0) {
                return ''
            } else {
                var rendered = [];

                rendered.push('<dl>')
                rendered.push('<dt>Date/Time</dt>')
                rendered.push('<dd>'+data+'</dd>');
                rendered.push('<dt>Output of</dt>')
                rendered.push("<dd><a target='script_content' onclick=window.open('/"+row.project+"/"+row.record+"/script','script_content','width=640,height=600,scrollbars=yes,resizable=yes') style='cursor:pointer'><i class='fa fa-file-code-o'></i></a>"+
                    ' <a href="/'+row.project+'/'+row.record+'/">'+row.record+'</a></dd>')
                if (row.reason.length > 0) {
                    rendered.push('<dt>Reason</dt>')
                    rendered.push('<dd>')
                    if (row.reason.length < 200) {
                        rendered.push(row.reason)
                    } else {
                        rendered.push('<span title="'+row.reason+'">'+row.reason.slice(0,200)+'...</span>')
                    }
                    rendered.push('</dd>')
                }
                if (row.outcome.length > 0) {
                    rendered.push('<dt>Outcome</dt>')
                    rendered.push('<dd>')
                    if (row.outcome.length < 200) {
                        rendered.push(row.outcome)
                    } else {
                        rendered.push('<span title="'+row.outcome+'">'+row.outcome.slice(0,200)+'...</span>')
                    }
                    rendered.push('</dd>')
                }
                if (row.tags.length > 0) {
                    rendered.push('<dt>Tags</dt>')
                    rendered.push('<dd>')
                    for (var i=0;i<row.tags.length;i++) {
                        var tag = row.tags[i];
                        rendered.push('<button class="btn btn-default btn-xs tag" value="'+ tag +'">' + tag + '</button>')
                    }
                    rendered.push('</dd>')
                }
                if (row.parameters.length > 0) {
                    rendered.push('<div style="display:none">')
                    rendered.push('<dt>Parameters</dt>')
                    rendered.push('<dd>')
                    if (row.parameters.length < 200) {
                        rendered.push(row.parameters)
                    } else {
                        rendered.push('<span title="'+row.parameters+'">'+row.parameters.slice(0,200)+'...</span>')
                    }
                    rendered.push('</dd>')
                    rendered.push('</div>')
                }
                rendered.push('</dl>')
                return rendered.join(' ');
            }
        }, "targets": [1]},
        {"render": function(data, type, row) {
            return "<a target='script_content' onclick=window.open('/"+row.project+"/"+data+"/script','script_content','width=640,height=600,scrollbars=yes,resizable=yes') style='cursor:pointer'><i class='fa fa-file-code-o'></i></a>"+
            ' <a href="/'+row.project+'/'+data+'/">'+data+'</a>'
        }, "targets": [2], "visible": false},                                                     // record
        {"render": function(data, type, row) {
            if (data.length < 200) {
                return data
            } else {
                return '<span title="'+data+'">'+data.slice(0,200)+'...</span>'
            }
        }, "targets": [3,4,6], "visible": false},                                                   // reason,outcome
        {"render": function(data, type, row) {
            if (data.length == 0) {
                return ''
            } else {
                var rendered = [];
                for (var i=0;i<data.length;i++) {
                    var tag = data[i];
                    rendered.push('<button class="btn btn-default btn-xs tag" value="'+ tag +'">' + tag + '</button>')
                }
                return rendered.join(' ');
            }
        }, "targets": [5], "visible": false},                                                     // tags
        ]

    var table = $('#images-table').DataTable({
        "processing":       true,
        "serverSide":       true,
        "ajax": {
            "url": "/{{project.id}}/datatable/image",
            "data": function ( d ) {
                d.tag = selected_tag;
            }
        },
        "columns": [
            { "data": "image" },
            { "data": "date" },
            { "data": "record" },
            { "data": "reason" },
            { "data": "outcome" },
            { "data": "tags" },
            { "data": "parameters" },
        ],
        "order":            [[ 1, "desc" ]],
        "columnDefs":       columnDefs,
        "preDrawCallback": function (settings) {
              // create a thumbs container if it doesn't exist. put it in the dataTables_scrollbody div
              if ($('#thumbs_container').length < 1) {$('#thumbgrid').append("<div id='thumbs_container' class='row'></div>");}
              $('#thumbs_container').html('');                  // clear out the thumbs container
              return true
          },
        "rowCallback": function( row, data ) {
            $('#thumbs_container').append('<div class="thumb"><div class="thumbnail">' +
                '<a href=/"'+data.project+'/data/datafile?path='+data.path+'&digest='+data.digest+'&creation='+data.date+'">' +
                '<img src="/'+data.project+'/data/'+data.datastore+'?path='+data.path+'&digest='+data.digest+'&creation='+data.creation+'">' +
                '</a></div></div>');
            $('.thumb').addClass(thumbgrid_view);
            return row
        },
        "drawCallback": function(settings) {
            $('button.tag').removeClass("active");
            $('button.tag[value='+ selected_tag+']').addClass("active");
        },
    });

    $('#thumbgrid-view').on('click', function() {
        $('#images-table').addClass('hidden')
        thumbgrid_view = 'col-md-3 col-sm-4 col-xs-6'
        $('.thumb').removeClass().addClass('thumb').addClass(thumbgrid_view)
        $('#thumbgrid').removeClass('hidden')
    })

    $('#thumbgrid-view-large').on('click', function() {
        $('#images-table').addClass('hidden')
        thumbgrid_view = 'col-md-6 col-sm-12'
        $('.thumb').removeClass().addClass('thumb').addClass(thumbgrid_view)
        $('#thumbgrid').removeClass('hidden')
    })

    $('#image-table-view').on('click', function() {
        $('#images-table').removeClass('hidden')
        $('#thumbgrid').addClass('hidden')
    })

    /* select tag from dropdown menu and from tag button */
    $('body').on('click', '.tag', function () {
        if ( selected_tag == $(this).attr('value') ) {
            selected_tag = 'null';
        } else {
            selected_tag = $(this).attr('value');
        }
        $('#tagList li').removeClass('selected');
        $('#tag-label').html('Tag');

        if (selected_tag == 'null') {
            selected_tag = null;
        } else {
            $("#tagList #id_tag_"+selected_tag).addClass('selected');
            $('#tag-label').html(selected_tag);
        }
        table.draw();
    });
} );
    </script>
{% endblock %}
