{% extends "base.html" %}

{% load filters %}

{% block title %}{{project_name}}{{ main_file }}: List of parameters{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href='/media/css/jquery.dataTables.css'>
<style type="text/css">
#pageBody {
    margin: 0 20px;
}

th,td {
min-width: 100px;
padding-left: 10px;
padding-right: 10px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>

<script type="text/javascript" src="/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#param_table tfoot th').each( function () {
        var title = $('#example thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#param_table').DataTable();
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that.search( this.value ).draw();
        } );
    } );
} );
</script>
{% endblock %}

{% block header %}
<li class="divider"></li>
<li><a href="/{{project_name}}/">{{project_name}}</a></li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {{main_file}}
    <span class="caret"></span>
  </a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
{% for mainfile in  project.get_mainfiles %}
  <li><a tabindex="-1" href="/{{project_name}}/parameters?main_file={{mainfile}}">{{mainfile}}</a></li>
{% endfor %}
</ul>
</li>
{% endblock %}

{% block content %}
<table id="param_table" class="display" width="100%" cellspacing="0">

<thead>
<tr>
<th>Date</th><th>Label</th><th>Version</th>
{% for key in keys %}
<th>{{ key }}</th>
{% endfor %}
</tr>
</thead>

<tfoot>
<tr>
<th>Date</th><th>Label</th><th>Version</th>
{% for key in keys %}
<th>{{ key }}</th>
{% endfor %}
</tr>
</tfoot>

<tbody>
{% for record in object_list %}
<tr>
<td>{{ record.timestamp }}</td><td><a href='/{{project_name}}/{{record.label}}/' target='_blank'>{{ record.label }}</a></td><td>{{ record.version|cut:"vers" }}</td>

{% for key in keys %}
<td>{{ record.parameters.to_sumatra.as_dict|get_item:key }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>

</table>
{% endblock %}
