{% extends "base.html" %}

{% load filters %}

{% block title %}{{record.label}}{% endblock %}

{% block header %}
            <li class="divider"></li>
            <li><a href="/{{project_name}}/">{{project_name}}</a></li>
            <li><a href="/{{project_name}}/{{record.label}}/"> {{record.label}}</a></li>
{% endblock %}
    
{% block content %}

<div class="accordion">
    <h2 class="nav-toggle">General info</h2>
    <form action='{{ request.path }}' method='POST' id="actions" name="actions">
        {{form.errors}}
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table id = 'gen_info'>
                    <tr><th>Label:</th><td>{{record.label}}</td></tr>
                    {% if record.repeats %}<tr><th>Repeat of:</th><td><a href="../{{record.repeats}}">{{record.repeats}}</a></td></tr>{% endif %}
                    <tr><th>Reason:</th><td>{{form.reason}}</td></tr>
                    <tr><th>Outcome:</th><td>{{form.outcome}}</td></tr>
                    <tr><th>Timestamp:</th><td>{{record.timestamp|date:"d/m/Y H:i:s"}}</td></tr>
                    <tr><th>Duration:</th><td>{{record.duration|human_readable_duration}}</td></tr>
                    <tr><th>Executable:</th><td>{{record.executable.name}} version {{record.executable.version}} ({{record.executable.path}})</td></tr>
                    <tr><th>Launch mode:</th><td>{% ifequal record.launch_mode.type "SerialLaunchMode" %}serial{% else %}distributed, n={{record.launch_mode.get_parameters.n}}{% endifequal %}</td></tr>
                    <tr><th>Working directory:</th><td>{{record.working_directory}}</td></tr>
                    <tr><th>Repository (local):</th><td>{{record.repository.url}}</td></tr>
                    {% if record.repository.upstream %}
                    <tr><th>Repository (remote):</th><td>{{record.repository.upstream|urlize}}</td></tr>
                    {% endif %}
                    <tr><th>Main file:</th><td>{{record.main_file}}</td></tr>
                    <tr><th>Version:</th><td>{{record.version}}{% if record.diff %}* (<a href="diff/">diff</a>){% endif %}</td></tr>
                    {% if record.script_arguments %}<tr><th>Arguments:</th><td>{{record.script_arguments}}</td></tr>{% endif %}
                    <tr><th>User:</th><td>{{record.user}}</td></tr>
                    <tr><th>Tags:</th><td>{{form.tags}}</td></tr>
                </table>
            </div>
            <div class='form-actions' style='width: 400px'>
                    <button type="submit" class="btn btn-primary headeritem">Save changes</button>
                    <button type="submit" class="btn headeritem" name="delete">Delete record</button>
            </div>
        </fieldset>
    </form>
</div>

<div id="accordion-js" class="accordion">
    <h2 class="nav-toggle">Parameters</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if parameters %}
		        <table>
                        {% for name, value in parameters.items %}<tr><td><div class='label label-success' style='display:inline-block'>{{name}}</div></td><td><pre style='margin-top:5px'>{{value}}</pre></td></tr>{% endfor %}
			</table>
                {% else %}
                    no parameters
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Input files</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if record.input_data.count %}
                <table style="width:100%">
                    <tr><td colspan="4">{{record.input_datastore.access_parameters.root}}</td></tr>
                    <tr><td>Record</td><td colspan="3">File</td></tr>

                    {% for file in record.input_data.all %}
                           <tr class="{% cycle odd even %} record ui-selected">
                           <td id="label-t">
                            {% if file.get_record %}<a id="{{file.get_record.label}}" class="input_label" href="/{{project_name}}/{{file.get_record.label}}/" title="{{file.get_record.parameters.to_sumatra}}">{{file.get_record.label|urlencode}}</a>
                            {% endif %}
                            </td>

                           <td><a href="datafile?path={{file.path|urlencode}}&digest={{file.digest}}&type=input">{{file.path}}</a></td>
                           <td>{{file.digest}}</td>
                           <td>{{file.get_metadata.mimetype|default:""}}</td>
                           <td>{{file.get_metadata.size|filesizeformat}}</td>
                            <td><input type='checkbox' name='{{file.path|urlencode}}' class='files' label='{{record.label}}' digest='{{file.digest}}'></input></td>
                            </tr>
                    {% endfor %}
                    
                </table>


                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Plot from your template
                    <span class="caret"></span>
                  </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    {% for template in templates %}
                      <li><a class="plot_template" tabindex="-1" href="#" id="{{template}}">{{template}}</a></li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Plot from default template
                    <span class="caret"></span>
                  </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                         <li><a class="plot_default_template" href="#" id="spikes" >spikes</a></li>
                         <li><a class="plot_default_template" href="#" id="voltage" >voltage</a></li>
                    </ul>
                </div>

                <div id="input-comp" data-toggle="modal" href="#compareSim">compare input records</div>
                {% else %}
                    no input files
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>


<div class="accordion">
    <h2 class="nav-toggle">Output files</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table style="width:100%">
                    <tr><td colspan="4">{{record.datastore.access_parameters.root}}</td></tr>
                        {% for file in record.output_data.all %}
                                <tr class="{% cycle 'odd' 'even' %}">
                                <td><a href="datafile?path={{file.path|urlencode}}&digest={{file.digest}}">{{file.path}}</a></td>
                                <td>{{file.digest}}</td>
                                <td>{{file.get_metadata.mimetype|default:""}}</td>
                                <td>{{file.get_metadata.size|filesizeformat}}</td>
                                <td><input type='checkbox' name='{{file.path|urlencode}}' class='files' label='{{record.label}}' digest='{{file.digest}}'></input></td>
                                </tr>
                        {% endfor %}
                </table>

                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Plot from your template
                    <span class="caret"></span>
                  </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    {% for template in templates %}
                      <li><a class="plot_template" tabindex="-1" href="#" id="{{template}}">{{template}}</a></li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Plot from default template
                    <span class="caret"></span>
                  </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                         <li><a class="plot_default_template" href="#" id="spikes_raster" >spikes raster</a></li>
                         <li><a class="plot_default_template" href="#" id="spikes_histogram" >spikes histogram</a></li>
                         <li><a class="plot_default_template" href="#" id="voltage" >voltage</a></li>
                    </ul>
                </div>

            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Dependencies</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>Path</th><th>Version</th></tr>
                    {% for dep in record.dependencies.all %}
                    <tr class="{% cycle 'odd' 'even' %}"><td>{{dep.name}}</td><td>{{dep.path}}</td><td>{{dep.version}}{% if dep.diff %}* (<a href="diff/{{dep.name}}">diff</a>){% endif %}</td></tr>{% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
</div>                   

<div class="accordion">
    <h2 class="nav-toggle">Platform information</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>IP address</th><th>Processor</th>
                        <th colspan="2">Architecture</th><th>System type</th>
                        <th>Release</th><th>Version</th>
                    </tr>
                    {% for platform in record.platforms.all %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{platform.network_name}}</td>
                        <td>{{platform.ip_addr}}</td>
                        <td>{{platform.processor}} {{platform.machine}}</td>
                        <td style='padding-right:5px'>{{platform.architecture_bits}}</td>
                        <td>{{platform.architecture_linkage}}</td>
                        <td>{{platform.system_name}}</td>
                        <td>{{platform.release}}</td>
                        <td>{{platform.version}}</td>
                    </tr>{% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Stdout & Stderr</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if record.stdout_stderr %}
                <div style='width:94%'>
                    <pre>{{ record.stdout_stderr }}</pre>
                </div>
                {% else %}
                no outputs
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>

{% include "comparison_window.html" %} <!-- 'compare selected records' popup window -->

<script type = 'text/javascript'>
var nbSelected = 3;

$(document).ready(function(){
    $('.modal').modal().modal('hide');

    $('.accordion').find('h2').click(function(){
        $(this).next().slideToggle();
    }).next()//.hide();
    $('#accordion-js').find('#additional').next().hide();
    $('#stdout').css('width', $('h2.topic').width());

    //click on the 'compare records' button
    $('#input-comp').live('click', function(){ 
        var $div_list = $('#alist-labels').empty();
//        var list = {labels: $.makeArray($('.input_label').map(function() { return this.id; })), tags: []};
        var list = labelList(false, $div_list);
        $('#body-comp').load('/{{project_name}}/nolabel/', {'compare_records':true, records: list.labels});

        for(var i = 0; i < 2; i++){ // only for the first two records
            var el = $('#alist-labels').children()[i]; // not the best way
            $(el).addClass('label-success');
        }
    });

$('.plot_template').live('click', function(e){
    e.preventDefault();
    var template = $(this).attr('id');
    var selected = [];
    $('.files:checked').each(function() {
        selected.push($(this).attr('name'));
    });

    if (selected.length > 0) {
        window.open('/{{project_name}}/plot?template='+template+'&path='+selected.join('&path='),'_blank')
    }

})

$('.plot_default_template').live('click', function(e){
    e.preventDefault();
    var plot = $(this).attr('id');
    var selected = [];
    $('.files:checked').each(function() {
        selected.push($(this).attr('name'));
    });
    if (selected.length > 0) {
        window.open('/{{project_name}}/{{record.label}}/plotdata?plot='+plot+'&path='+selected.join('&path='),'_blank')
    }

})

});
</script>

{% endblock %}
